<div class="container my-3">
    <div class="card">
        <div class="card-header heading">
            <h1 class="mb-3">Z'onion 😀</h1>
            <h5 class="mb-3">Restaurant Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form #form="ngForm" (ngSubmit)="GoBack()">
                        <div class="mb-3">
                            <label for="name" class="form-label">Restaurant Name</label>
                            <p>{{restaurantDetails.name}}</p>

                        </div>

                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Restaurant Phone Number</label>
                            <p>{{restaurantDetails.phone}}</p>

                        </div>

                        <div class="mb-3">
                            <label for="address" class="form-label">Restaurant Address</label>
                            <p>{{restaurantDetails.address}}</p>
                        </div>

                        <div class="mb-3">
                            <label for="open" class="form-label">Opening Time:</label><br>
                            <p>{{restaurantDetails.openTime  + 'Z' | date:'shortTime' }}</p>
                        </div>

                        <div class="mb-3">
                            <label for="close" class="form-label">Closing Time:</label><br>
                            <p>{{restaurantDetails.closingTime  + 'Z' | date:'shortTime' }}</p>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mr-5">Done</button>

                    </form>
                </div>
                <!-- Want a horizontal line of height of this whole container -->
                <div class="col-md-6">

                    <h6>
                        Menu Image
                    </h6>

                    <img [src]="createImgPath(restaurantDetails.menuImageUrl)" alt="Menu Image" class="img-fluid"
                        style="height: 400px;margin-left: 10px;">

                </div>
            </div>

        </div>
    </div>
</div>