<div class="container my-5">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0" style="color: black;">Restaurants</h1>

        <a *ngIf="isAdmin" class="btn btn-primary" [routerLink]="['/restaurants', 'add']">Add Restaurants</a>
    </div>
    <table class="table table-striped table-bordered" *ngIf="restaurants">
        <thead style="background-color: #007bff; color: white;">
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 20%;">Restaurant Name</th>
                <th style="width: 15%;">Phone Number</th>
                <th style="width: 20%;">Address</th>
                <th style="width: 5%;">Opened</th>
                <th style="width: 20%;">Actions</th>
                <th style="width: 15%;" *ngIf="isAdmin">Last Updated</th> <!-- Show only for admins -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of restaurants | paginate: { itemsPerPage: 4, currentPage: p }; let i = index">
                <td>{{ i + 1 + (p - 1) * 4 }}</td>     <!-- Shells in farm CP -->
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.phone}}</td>
                <td>{{restaurant.address}}</td>
                <td class="w-2" style="text-align: center; font-size: x-large;">
                    <ng-container *ngIf="restaurantOpenCheck(restaurant); else notOpen">
                        <div style="color: green;">
                            &#9679;
                        </div>
                    </ng-container>
                    <ng-template #notOpen>
                        <div style="color: red;">
                            &#9679;
                        </div>
                    </ng-template>
                </td> 

             
                <td style="text-align: center;">
                    <a class="btn btn-primary custom-btn" [routerLink]="['/restaurants', 'view', restaurant.restaurantId]">View</a>
                    <a *ngIf="isAdmin" class="btn btn-success custom-btn" [routerLink]="['/restaurants', 'edit', restaurant.restaurantId]">Edit</a>
                    <a *ngIf="isAdmin" class="btn btn-danger" (click)="deleteRestaurant(restaurant.restaurantId)">Delete</a>
                </td> 
                <td *ngIf="isAdmin">{{ restaurant.lastUpdatedTime | date:'medium' }}</td> <!-- Show only for admins -->
                
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <p *ngIf="!restaurants">No one is there</p>
</div>
